body{
    font-family: 'Rubik', sans-serif;
    margin: 0px;
}

header{
    margin: 0;
    padding-top:2px;
}
header ul{
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    list-style: none;
}

header ul li{
    margin-left: 20px;
    cursor: pointer;
}

.lists{
    margin-left: 300px;
}
.listed{
    margin-left: 100px;
    cursor: pointer;
    
}

.nairaverse{
    text-decoration: none;
}

#naira{
    color: #389246;
}

#verse{
    color: #858F86;
}

main{
    display: flex;
    flex-direction: row;
}

.img{
    width: 350px;
    height: 350px;
    margin-top:0px;
    border: none;
}

#img{
    margin-top: -50px;
    width: 350px;
    width: 350px;
}


.text{
    margin-top: 50px;
    text-align: center;
    color: #389246;
    width: 500px;
    height: 500px;
    font-size:20px;
    margin-left: 50px;
}

.text h1{
    width: 700px;
}

#btn{
    width: 300px;
    height: 40px;
    border-radius: 40px;
    border: none;
    text-align: center;
    background: #389246;
    color: #fff;
    font-size: 18px;
}

.btn{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 250px;
    width: 120px;
}

.Btn{
    width: 120px;
    height: 35px;
    border-radius: 40px;
    border: none;
    text-align: center;
    background: #389246;
    color: #fff;
    font-size: 18px;
}

.Btn:hover{
    background: #858F86;
    transition: all 0.4s ease-in;
    cursor: pointer;
}

#btn:hover{
    background: #858F86;
    transition: all 0.4s ease-in;
    cursor: pointer;
}

.grid-item{
    width: 300px;
    height: 300px;
    margin: 20px;
}

.grid-contain{
    text-align: center;
}

.div{
    padding-top: 100px;
}

.container{
    margin-left: 200px;
}

.text h1{
    font-size: 80px;
}

.text p {
    font-size: 25px;
}

.wow{
    background-color: #858F86;
    color: #fff;
    height: 100px;
    width: 100px;
    padding: 10px;
    border-radius: 20px;
}

.wows{
    background-color: #858F86;
    color: #fff;
    height: 50px;
    width: 50px;
    padding: 10px;
    border-radius: 20px;
}

.btns{
    width: 200px;
    height: 50px;
    border-radius: 50px;
    border: 0px;
    background-color: #389246;
    color: #fff;
    font-size: 20px;
    cursor: pointer;
}

.box{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.box p{
    font-size:20px;
    width: 300px;
    color: #858F86;
}

.btns:hover{
    background-color: #858F86;
    transition: 0.4s ease-in-out all;
}

.containers{
    width: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin-left: 200px;
  }
  
  .form-group {
    margin-bottom: 10px;
  }
  
  button {
    cursor: pointer;
  }
  



#item{
    margin-top: 50px;
}
.grid{
    margin-top: 100px;
    text-align: center;
}

.piggy{
    width: 100px;
    height: 100px;
}

.header{
    font-size: 60px;
    width: 800px;
    text-align: center;
    margin-left: 300px;
}

.join{
    width: 100px;
    height: 100px;
    padding: 10px;
    color: #fff;
    background-color: #ED2939;
    border-radius: 20px;
    border: 0px;
}

#home{
    width: 400px;
    height: 700px;
    background-color: lightgray;
    border-radius: 30px;
    padding: 20px;
}

.learn{
    width: 200px;
    height: 50px;
    background-color: #8c679c;
    color: #fff;
    border-radius: 30px;
    font-size: 18px;
    border: 0px;
}

.learn:hover{
    background-color: #858F86;
    color: #fff;
    transition: all .4s ease-in-out;
}

.spans h2{
    font-size: 40px;
}

.spans p{
    font-size: 20px;
}

.contain{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.fire{
    width: 70px;
    height: 70px;
    margin-bottom: -10px;
}

.dtext{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    background-color: #8a00c2;
    width: 800px;
    height: 300px;
    color: #fff;
    border-radius: 30px;
    border: 0px;
    margin-left: 50px;
    margin-top: 60px;
}

.hans{
    width: 400px;
    height: 500px;
}

.card{
    width: 300px;
    height: 300px;
}

.div{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.one{
    background-color: #1D2591;
    color: #fff;
    border-radius: 30px;
}

.todivs{
    text-align: center;
    width: 400px;
    height: 400px;
}

aside{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-left: 50px;
}


.two{
  background-color: #DE3163;
  color: #fff;
  border-radius: 30px;
  margin-left: 10px;
}

.per{
    padding-top: 100px;
}

.texts{
  width: 200px;
  text-align: center;
  padding:  0px 20px;
  margin-left: 40px;
}
 

form {
    width: 250px;
    height: 500px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    margin-left: 200px;
  }

.forms{
    display: inline-block;
}

.submit{
    border: 0px;
    border-radius: 10px;
}
  
.img{
    width: 70px;
    height: 70px;
    margin-bottom: -20px;
}


.image{
    width: 500px;
    height: 500px;
}

.hands{
    margin-top: 100px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.hand-grid{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.hand{
    margin-left: 30px;
}

.hands-container{
    margin-left: 50px;
}

.load{
    width: 50px;
    height: 50px;
    background-color: gainsboro;
    font-size: 25px;
    padding: 10px;
    padding-left: 30px;
    border-radius: 50px;
}

.hand h3{
    width: 450px;
}

.bolt{
    width: 40px;
    height: 40px;
    margin-top: -50px;
}

footer p{
    text-align: center;
}

@media (max-width: 415px) {
    body{
        margin: 0;
        padding: 0;
     }



    .container{
        margin-top: 100px;
    }
}
